@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color:  #fff;
$accent-color: #65e496;

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}
.wrap {
    max-width: 1170px;
    margin: 0 auto;
}
.page-name {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 53px;
    padding-bottom: 178px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;

        &__item {
            margin-left: 22px; 
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;

            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
}
.block-text {
    flex-basis: calc(92% - 500px);
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 29px;
    }
    &__name-top {
        margin-top: 18px;
        margin-left: 0;
        margin-bottom: 16px;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 42px;
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            margin-top: 11px;
            letter-spacing: 1px;
        }
    }
    &__description {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 22px;
        letter-spacing: 0.75px;

    }
    &__btn {
        display: block;
        background-color: $accent-color;
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        font-size: 18px;
        text-align: center;
        margin-top: 48px;
        padding: 14px 0;
        letter-spacing: 0.7px;
        margin-bottom: 20px;
    }
}
// Комментарий
.block-book {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 107px;
    &-demo {
        display: block;
        width: 447px;
        height: 643px;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        flex-basis: 500px;
    }
    small {
        font-size: 12px;
        font-family: 'Open Sans', serif;
        font-style: italic;
        letter-spacing: 0.2px;
    }
}
.page {
    padding-top: 160px;
}
.block-author {
    display: flex;
    justify-content: space-between;
}
.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        z-index: -1;
        right: 0;
    }
    &__img {
        padding-top: 47px;
        padding-right: 42px;
    }

}